@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto+Slab:wght@400..700&display=swap');

@tailwind base;
@layer base {
  :root {
    --color-brand-1: #005461;
    --color-brand-2: #0c7779;
    --color-brand-3: #249e94;
    --color-brand-4: #3bc1a8;

    --color-neutral-0: #ffffff;
    --color-neutral-1: #f2f2f2;
    --color-neutral-2: #e6e6e6;
    --color-neutral-3: #d9d9d9;
    --color-neutral-4: #bfbfbf;
    --color-neutral-5: #999999;
    --color-neutral-6: #808080;
    --color-neutral-7: #666666;
    --color-neutral-8: #4d4d4d;
    --color-neutral-9: #262626;
    --color-neutral-10: #000000;

    --color-brand: var(--color-brand-1);
    --color-brand-soft: var(--color-brand-2);

    --color-text: var(--color-neutral-9);
    --color-text-muted: var(--color-neutral-6);
    --color-text-inverse: var(--color-neutral-0);

    --color-surface: var(--color-neutral-0);
    --color-surface-soft: var(--color-neutral-1);
    --color-surface-muted: var(--color-neutral-2);
    --color-surface-inverse: var(--color-neutral-10);
    --color-surface-overlay: rgb(255 255 255 / 0.8);

    --color-border: var(--color-neutral-4);
    --color-border-hover: var(--color-neutral-5);

    --header-height: 84px;
  }

  @media (min-width: 1024px) {
    :root {
      --header-height: 100px;
    }
  }

  body {
    @apply bg-surface dark:bg-surface-inverse font-body;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-semibold font-heading;
  }

  h1 {
    font-size: clamp(2rem, 10vw, 3rem); /* 32px → 48px */
    line-height: clamp(2.5rem, 11vw, 4rem); /* Fluid height */
  }

  h2 {
    font-size: clamp(1.5rem, 8vw, 2rem); /* 24px → 32px */
    line-height: clamp(2rem, 9vw, 3rem);
  }

  h3 {
    font-size: clamp(1.25rem, 6vw, 1.5rem); /* 20px → 24px */
    line-height: clamp(1.75rem, 7vw, 2.5rem);
  }

  h4 {
    font-size: clamp(1.125rem, 4vw, 1.25rem); /* 18px → 20px */
    line-height: clamp(1.5rem, 5vw, 2rem);
  }

  h5 {
    font-size: clamp(1rem, 3vw, 1.125rem); /* 16px → 18px */
    line-height: clamp(1.25rem, 4vw, 1.75rem);
  }

  h6 {
    font-size: clamp(0.875rem, 2vw, 1rem); /* 14px → 16px */
    line-height: clamp(1.125rem, 3vw, 1.5rem);
  }

  p,
  a,
  ol,
  ul,
  li,
  label,
  div,
  span {
    font-size: clamp(0.875rem, 2vw, 1rem);
    line-height: clamp(1.125rem, 3vw, 1.5rem);
  }

  .container {
    @apply px-4;
  }
}

@tailwind components;

@tailwind utilities;
@layer utilities {
  .section-padding {
    padding: min(10vw, 5rem) 0;
  }
}
